{{> header}}
<main>
    <section id="viewUserHome">
        <h1 id="viewUserHomeHeading">Welcome, {{name}}!</h1>
        <a href="#/products" id="linkUserHomeShop">Shop</a>
        <a href="#/myCart" id="linkUserHomeCart">Cart</a>
    </section>
</main>
{{> footer}}